extends base

block content
            
    //Container holding the image and the search box. Styling for "Search" is in style.css
    body.home    
        .container-fluid.separator
            .row.head-space
                .col-xs-10.col-xs-offset-1
                    .row
                        //Brought in from the container above
                        h1.text-center
                            | Knowledge.Bio
                        .col-md-10.col-md-offset-4
                            form.form-horizontal(action="/query/search" method="post")
                                .form-group
                                    input.input-lg(
                                      type='text'
                                      name='query'
                                      //Added a placeholder:
                                      placeholder='Search'
                                    )
                                    
                                    input.btn.btn-default(
                                        type='submit'
                                        value='Submit'
                                        style='color:black;background-color:yellow;'
                                    )
    
                                    input(
                                      type='hidden'
                                      name='mode'
                                      value='text'
                                      )
                                    - csrf_token
                            
        //Container holding the description part.
        .container-fluid.landing-container.img-focus
            .row.head-space
              .col-md-10.col-md-offset-1
                .row
                    .col-md-8.col-md-offset-2
                        .descrip.lead.text-center
                          | The search for cures for all diseases is limited
                          | by the ability of scientists to consume and understand
                          | the rapidly expanding ocean of biomedical literature.
                          | The Knowledge.Bio resource strives to formally 
                          | organize knowledge from various sources, to allow
                          | for easy community exploration and enhancement.
                          //Centered the text. 
        
        