extends simple_base

block post-head

    script(type='text/javascript').
        $(function() {
            $('#title_prefix').empty().append("About ") ;  
        });
        
block content 
    .about-background
        .container-fluid
            .col-md-3
                    #text_info_box
                        p
                            .text-accent-on-dark Knowledge.bio 
                            | provides access to a network of interconnected concepts mined from more
                            | than 20,000,000 PubMed abstracts. We integrate explicit connections identified by the SemRep system from the US National Library
                            | of Medicine with the Implicitome from the Leiden Unviersity Medical Center. The Implicitome provides predicted relationships
                            | between genes and diseases based on 'concept profile' technology.
                        p
                            | We hope that you use knowledge.bio to explore, learn, and hypothesize.
                        p
                            | Here is an example of what you can discover in here. Given a patient with a mutation in the Sepiaterin Reductase (SPR) gene and a 
                            | collection of Movement Disorders and significantly disrupted sleep, what treatment might you offer them? 
                        p
                            | The answer is contained
                            | in the knowledge.bio graph depicted here (and in Figure 1 of 
                            a(href="http://www.ncbi.nlm.nih.gov/pubmed/21677200", target="_blank").
                                a ground breaking paper in Science Translational Medicine
                            |)
                        p
                            | What can you discover?
                                
            .col-md-8.col-md-offset-1
                    img#img_box( src="#{STATIC_URL}images/sepiapterin_updated.png" )
             
       