extends base

append post-head

    script(src='#{STATIC_URL}js/libs/jquery.colorbox-min.js')
    
    script(type='text/javascript').
    
        /* stub function - is overridden in concept_map.js */
        
        var searchConcept = function() {
            alert("Stub function for searchConcept()?") ;
        } ;
        
        /* DataTable variables declared page global for visibility */
        var concept_table_args ;
        
        var explicit_table_args ;
        var current_type_filter = '' ;
    
        var implicit_table_args ;
        var cooccurrence_table_args ;
        var evidence_table_args ;
        var pmid_table_args ;
        
        var concept_table ;
        var explicit_table ;
        var implicit_table ;
        var cooccurrence_table ;
        var evidence_table ;
        var pmid_table ;

        $(function() {

            var PUBMED_ROOT_URL = "http://www.ncbi.nlm.nih.gov/pubmed/?term=" ;
            
            $('#showAbstractInNewWindow').colorbox( {
            
                    iframe: true,
                    opacity:0.5, 
                    width:"75%", 
                    height:"90%",
                    onOpen:function(){
                        var url = encodeURI(PUBMED_ROOT_URL+pmid_table_args.query) ;
                        $("#showAbstractInNewWindow").attr("href",url) ; 
                    },
            } );
            
            $('a.info-page').colorbox( { opacity:0.3, width:"75%", height:"90%" } );
            
            $('a#contactus_page').colorbox( { opacity:0.3, width:"40%", height:"60%" } );
            
            $('a.iframe').colorbox( { iframe:true, opacity:0.3, width:"75%", height:"90%" } );
        });
        
        
append header
    include includes/header

append footer
    script(type='text/javascript' src='#{STATIC_URL}js/libs/cytoscape.js')
    script(src="#{STATIC_URL}js/libs/jquery.qtip.min.js")
    script(src="#{STATIC_URL}js/libs/cytoscape-qtip.js")
    
    
