//-
    The MIT License (MIT)
    
    Copyright (c) 2015 Scripps Institute (USA) - Dr. Benjamin Good
                       Delphinai Corporation (Canada) / MedgenInformatics - Dr. Richard Bruskiewich
    
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
    
    The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.
    
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    THE SOFTWARE.
    
head
    meta( charset='utf-8' )
    meta(name="google", content="notranslate")
    meta(name="robots",content="noindex,nofollow")
    meta(name="googlebot",content="noindex,nofollow")
    
    block head-title
        title Knowledge.Bio Concept List

body
    block content
    
        .container-fluid
            .row
                .col-md-6.col-md-offset-4
                    #current_concept_query
            .row
                .col-md-4.col-md-offset-4
                    div.concept_table_subtitle(style="display: inline;")
                        #explicit_concept_processing(style="display:none;")
                            img(src="#{STATIC_URL}images/flower-loader.gif")
                        | Explicit Concepts
                        
            .row
                .col-md-12
                    #explicit_concept_result_div
            .row
                .col-md-4.col-md-offset-4
                    div.concept_table_subtitle(style="display: inline;")
                        #implicit_concept_processing(style="display:none;")
                            img(src="#{STATIC_URL}images/flower-loader.gif")
                        | Implicit Concepts
                        
                .col-md-12
                    #implicit_concept_result_div
    
        script(type='text/javascript').
        
            var query = '{{query}}' ;
            
            /* Clever way to capture the available 
               CSRF token for use by DataTable? */
            var csrf_token  = '{{ csrf_token }}' ;
     
            $('#current_concept_query').empty().append("Viewing Concepts Matching '"+query+"'") ;
        
            /* Query parameters as globals */
           
            /* First, parse out HTML Entities? */
            query = $('<textarea/>').html(query).text(); 
            
            var explicit_concept_table_args = {
                            "mode"  : "exptext",
                            "query" : query,
                            "csrf_token" : csrf_token
                        } ;          
            var explicit_concept_data_query = dataBinder(explicit_concept_table_args) ;
    
            var implicit_concept_table_args = {
                            "mode"  : "imptext",
                            "query" : query,
                            "csrf_token" : csrf_token
                        } ;          
            var implicit_concept_data_query = dataBinder(implicit_concept_table_args) ;
            
            function drawConceptTable(mode) {
                var output =  '<h4 class="text-center data_table_subtitle"><div id="'+mode+'_concept_result_table_title"></div></h4>\n';
                output    +=  "<table id='"+mode+"_concept_result_table' class='compact display table-condensed desktop-table'>" ;
                output += "<thead><tr><th>Concept</th></tr></thead>" ;
                output += "</table>" ;
                return output ;
            }
    
            function conceptPicked( relation_type, concept_type, concept_cui, concept_name, concept_semtype ) {
            
                var concept_id = concept_type.trim() + ":" ;
                
                if(concept_type === "ENTREZ") {

                    /* Can at least infer here that this a gene */
                    concept_semtype = concept_semtype.trim() ;
                    if(concept_semtype.length==0) concept_semtype="gngm" ;
                   
                    concept_id +=  concept_name.trim() ;
                    
                } else {
                    concept_id +=  concept_cui.trim() ;
                }
                
                addNodeToMap( concept_id,  concept_name, concept_semtype ) ;
                
                /* Clear global concept semantic type filter? */
                current_type_filter = "" ;
                $( '#layout-menu option[value="-ncf"]' ).prop('selected', true);
                $( "#layout-menu" ).selectmenu( "refresh" ); 
        
                reloadData( concept_cui, concept_name ) ;
                
                if(relation_type === "explicit") {
                    /* Goto the Explicit data results tab? */
                    $("#discovery_data_tabs").tabs("option", "active", 0 );
                } else if(relation_type === "implicit") {
                    /* Goto the Implicit data results tab? */
                    $("#discovery_data_tabs").tabs("option", "active", 1 );
                } else {
                    /* shouldn't get here...do nothing if you do */
                }
                
                
                /* Need to reset the rootQueryContext to the latest concept selection! */ 
                rootQueryContext['concept_name'] = concept_name ;
                rootQueryContext['rootID']       = concept_id ;

                $.colorbox.close() ;
            }
            
            function highlightHit( query, hit) {
                var qstart = hit.toLowerCase().indexOf( query.toLowerCase() ) ;
                if( qstart >= 0 ) {
                    var qend = qstart + query.length ;
                    var output = hit.substr(0,qstart)+"<span class='query_highlight'>"+query+"</span>"+hit.substr(qend) ;
                    return output ;
                } else {
                    return hit ;
                }                
            }
            
            function conceptRenderer( query, relation_type ) {
                return function ( row_data, type, val, meta ) {
                    if (type == 'display') {
                    
                        /* alert("conceptRenderer row:"+JSON.stringify(row_data)) ; */
                        
                        var concept_id = row_data.concept_id.toString().trim() ;
                        if ( concept_id.length > 0 ) {
                            var concept_div = "<div class='btn clickable' id=";
                            
                            
                            if( relation_type == "explicit") {
                            
                                concept_div += "'EC" + concept_id.toString() +"'" ;
                                
                            } else if( relation_type == "implicit") {
                            
                                concept_div += "'IC" + concept_id.toString() +"'" ;
                                
                                /* Give the user access to the terms matched */
                                concept_div += " title='" + JSON.stringify(row_data.terms)  + "'" ;
                            }
                            
                            concept_div += " onclick=" ;
                            concept_div += "'conceptPicked(" ;
                            concept_div += '"'  + relation_type + '"' ;
                            concept_div += ',"'  + row_data.type.toString().trim() + '"' ;
                            concept_div += ',"' + row_data.cui.toString().trim() + '"' ;
                            
                            /* need to escape any quotes in the name...*/
                            concept_div += ',"' + row_data.name.replace("'", "&apos;") + '"' ;
                            
                            concept_div += ',"' + row_data.semtype.toString().trim() + '"' ;
                            
                            concept_div += ")'>" + highlightHit( query, row_data.name )  + "</div>";
                            
                            /* alert("conceptRenderer concept_div: " + concept_div) ; */
                            
                            return concept_div ; 
                        }
                    } else {
                        /* 'filter', 'sort', 'type' and undefined all just use the name string */
                        return row_data.name;
                    }
                } ;
            }


            initConceptTables = function() {
                
                $( '#explicit_concept_result_div' ).append( drawConceptTable("explicit") ) ; 
               
                /* SemMedDb Concept Search by Text String Results Table */
                var explicit_concept_columns = [ { "data": null , "render": conceptRenderer( query, 'explicit') } ] ;
                var concept_orders  = [ [0,'asc'] ] ; /* order results ascending alphabetically  */
                
                var explicit_concept_table = 
                    $( '#explicit_concept_result_table' )
                        .on( 'processing.dt', function ( e, settings, processing ) {
                            $('#explicit_concept_processing').css( 'display', processing ? 'inline' : 'none' );
                        } ).DataTable(  {
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url" : '/query/data',
                        "type": 'POST',
                        "data": explicit_concept_data_query,
                    },
                    "oLanguage": {
                        "sSearch": "Filter:"
                    },
                    "columns": explicit_concept_columns,
                    "order"  : concept_orders,
                    "lengthMenu": [ 10, 25, 50, 100 ],
                    "pageLength": 10,
                    "scrollY": 225,
                } );
            
                explicit_concept_table.$('input, select').serialize();
              
                $( '#implicit_concept_result_div' ).append( drawConceptTable("implicit") ) ; 
               
                var implicit_concept_columns = [ { "data": null , "render": conceptRenderer( query, 'implicit') } ] ;
                var implicit_concept_table = 
                    $( '#implicit_concept_result_table' )
                        .on( 'processing.dt', function ( e, settings, processing ) {
                            $('#implicit_concept_processing').css( 'display', processing ? 'inline' : 'none' );
                        } ).DataTable(  {
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url" : '/query/data',
                        "type": 'POST',
                        "data": implicit_concept_data_query,
                    },
                    "oLanguage": {
                        "sSearch": "Filter:"
                    },
                    "columns": implicit_concept_columns,
                    "order"  : concept_orders,
                    "lengthMenu": [ 10, 25, 50, 100 ],
                    "pageLength": 10,
                    "scrollY": 225,
                } );
            
                implicit_concept_table.$('input, select').serialize();
            } ;
