extends desktop

block content
    .container-fluid.bootcards-container
        .row
            .col-sm-6(data-title='Concepts')
                .panel.panel-success
                    .panel-heading
                        h4
                            #current_concept
                    .panel-body#concept_tables
                        ul.nav.nav-tabs
                            li.active
                                a(href="#explicit_result_div" data-toggle="tab")
                                    #explicit_processing(style="display:none;")
                                        img(src="#{STATIC_URL}images/flower-loader.gif")
                                    |Explicit Relations
                            li
                                a(href="#implicit_result_div" data-toggle="tab")
                                    #implicit_processing(style="display:none;")
                                        img(src="#{STATIC_URL}images/flower-loader.gif")
                                    |Implicit Relations
                            li
                                a(href="#cooccurrence_result_div" data-toggle="tab")
                                    #cooccurrence_processing(style="display:none;")
                                        img(src="#{STATIC_URL}images/flower-loader.gif")
                                    |Co-Occurrences
                            li#table_controls.pull-right.pgln
                                    .btn-group(data-toggle="buttons")
                                        label.btn.btn-success.btn-sm.disabled Show
                                        label.btn.btn-success.white-button.btn-sm#10 10
                                            input(type="radio", name="options", value="10")
                                        label.btn.btn-success.white-button.btn-sm#25 25
                                            input(type="radio", name="options", value="25")
                                        label.btn.btn-success.white-button.btn-sm#50 50
                                            input(type="radio", name="options", value="50")
                                        label.btn.btn-success.white-button.btn-sm#100 100
                                            input(type="radio", name="options", value="100")
                                    #semantic_filter

                        .tab-content
                            #explicit_result_div.tab-pane.fade.in.active
                            #implicit_result_div.tab-pane.fade
                            #cooccurrence_result_div.tab-pane.fade
                        
                .panel.panel-success
                    .panel-body#evidence_tables
                        ul.nav.nav-tabs
                            li.active
                                a(href="#evidence_result_div" data-toggle="tab")
                                    #evidence_processing(style="display:none;")
                                        img(src="#{STATIC_URL}images/flower-loader.gif")
                                    | Citation Evidence
                            li
                                a(href="#pmid_abstract_div" data-toggle="tab") PubMed Abstract
                            li
                                a(href="#pmid_result_div" data-toggle="tab")
                                    #pmid_relations_processing(style="display:none;")
                                        img(src="#{STATIC_URL}images/flower-loader.gif")
                                    | Abstract Relations 
                        .tab-content 
                            #evidence_result_div.tab-pane.fade.in.active
                            br/
                            #pmid_abstract_div.tab-pane.fade
                                form.form-inline
                                    form.group(role="form")
                                        .input-group
                                            input.form-control.input-sm#pmid_search_string(
                                              type='text'
                                              id='pmid'
                                              //style="width:auto; min-width:0; display:inline"
                                              placeholder='PubMed ID'
                                            )
                                            span.input-group-btn
                                                button#pmid_search_submit.btn.btn-default.btn-sm.green-button(
                                                    type='button' 
                                                    value='Find PMID'
                                                ) GO
                                a#showAbstractInNewWindow.showAbstractInNewWindow.btn.btn-default.btn-sm.green-button(  href='' ) Show Abstract in New Window
                                iframe#pmid_abstract_iframe.pmid_pane(src=")
                            #pmid_result_div.pmid_pane.tab-pane.fade
                                         
            .col-sm-6
                .panel.panel-success
                    .panel-heading
                        .btn-group(role="group" aria-label="Map Actions")
                            table
                                tr
                                    td
                                        span.btn.btn-success.btn-sm.disabled Maps
                                        //- See also http://markusslima.github.io/bootstrap-filestyle/#
                                    td
                                        button.btn.btn-default.btn-sm.green-button(id="newMap"  onclick="refreshPage( this )") New Map
                                    td
                                        form#loadMapForm( 
                                                action="/query/load", 
                                                method="POST",
                                                enctype="multipart/form-data"
                                            )
                                            input#load_map_file_name.green-button.btn.btn-default.btn-sm.filestyle(
                                                type="file" 
                                                name="map_file_to_load"
                                                data-buttonText="Load Map"
                                                data-size="sm"
                                                data-buttonBefore="true"
                                                data-badge="false"
                                                data-input="false"
                                                data-icon="false"
                                            )
                                            input#gbk_file_data(
                                              type='hidden'
                                              name="gbk_file_data"
                                              value=''
                                            )
                                            - csrf_token
                                    td
                                        button.btn.btn-default.green-button.btn-sm(onclick="showSaveMapDialog()") Save Map
                                        form#saveMapForm(
                                                action="/query/save" 
                                                onsubmit="saveConceptMap(this);"
                                                method="POST" 
                                            )
                                            input.cmtext(
                                              hidden='text'
                                              name='filename'
                                              placeholder='Map Name'
                                            )
                                            input(
                                              type='hidden'
                                              name='concept_map'
                                              value=''
                                            )
                                            input(
                                              type='hidden'
                                              name='concept_name'
                                              value=''
                                            )
                                            input(
                                              type='hidden'
                                              name='query'
                                              value=''
                                            )
                                            input(
                                              type='hidden'
                                              name='rootID'
                                              value=''
                                            )
                                            input(
                                              type='hidden'
                                              name='autolayout'
                                              value=''
                                            )
            
                                            - csrf_token
                                
                        .pull-right(role="group")
                            //- form.form-inline
                            //- .form-group(role="group" style="vertical-align:middle")
                            table
                                tr
                                    td
                                        form.btn.btn-sm(type="form" action="#")
                                            fieldset
                                                select#cmlayout.drop_down_menu(name="cmlayout")
                                                    option(value="preset") Manual
                                                    option(value="grid") Grid
                                                    option(value="circle") Circle
                                                    option(value="breadthfirst") Breadth First
                                                    option(value="cola") COLA
                                    td
                                        | &nbsp;
                                    td
                                        form.btn.btn-sm(type="form" action="#")
                                            fieldset
                                                select#cmtheme.drop_down_menu(name="cmtheme")
                                                    option(value="dark") Dark
                                                    option(value="light") Light
                    .panel-body
                        #concept_map
                        //- defining the concept_drag box ahead of #concept_map
                        //- to give it positional supremacy in DOM.
                        #concept_drag
block post-footer

    script(type='text/javascript').
    
        /* Query parameters as globals */
        
        var concept_name     = '{{concept_name}}' ;
        current_type_filter  = '{{type_filter}}' ; 
        
        /* Clever way to capture the available 
           CSRF token for use by DataTable? */
        var csrf_token   = '{{ csrf_token }}' ;

        var rootID    = '{{rootID}}' ;
        var rootNodeConcept = $('<textarea/>').html('{{rootNodeConcept}}').text(); 
        
        var graphData = JSON.parse( rootNodeConcept ) ;

        var semantic_type_url = "/static/config/semantic_types.json" ;
 
        var currentCMLayout = "preset" ;
        
        var rootQueryContext = {
            concept_name : concept_name.trim(),
            rootID : rootID.trim(),
            query : function () {
                var idpart = this.rootID.split(":") ;
                return idpart[1] ;
            }
        } ;

        /* Session Controls */
        var sessionControls = {
            expandCount:  '{{ UserExpandCount }}',
            weightCutoff: '{{ UserWeightCutoff }}',
            dataSource:   '{{ UserDataSource }}'
        };
        
        var mapNodeActions = {} ;

    #conceptMapNodePrompt
        #text(align="center")
            p#clickedElementName
        #buttons(align="center")
            //- mapNodeActions defined within concept_map.js
            button#show( onclick="mapActions.explore()" ) Show
            button( onclick="mapActions.del()" ) Delete
            button( onclick="mapActions.cancel()" ) Cancel

    #confirm_concept_deletion(title='Confirm Deletion of Concept').col-md-2.col-md-offset-1
        p
            span#concept_deletion_message.ui-icon.ui-icon-alert(style="float:center;")

    #savePrompt
        #text(align="center")
            p(align="center") Doing this will make you lose your current graph.
            p(align="center") Do you want to save before you reload?
        #savePromptButtons(align="center")
            button#save( onclick="savePromptActions.save(this)") Save Map
            button#continue( onclick="savePromptActions.cont(this)" ) Continue Reload
            button#cancel( onclick="savePromptActions.cancel(this)" ) Cancel

    #savePromptPrompt(title="Save Map with Name?")
        br
        #input(align="center")
            input(name="newFilename")
        p
        #savePromptPromptButtons(align="center")
            button.btn.btn-sm.btn-success#save( onclick="submitSaveMapName()") Save

    #contextMenu
        ul.menu(id="menu")
        li.button(id="delete" onclick="menuActions.del.self( this )") Remove this concept

    #contextTable
        table
        div(name="buttons")
            button( onclick="tableActions.explore( this )" ) Show Relations
            button( onclick="tableActions.add( this )" ) Add to Map

    script(type='text/javascript').
        $( "#conceptMapNodePrompt" ).hide(); /* See concept_map.js for additional code */
            
    script(type='text/javascript' src='#{STATIC_URL}js/libs/cytoscape-cxtmenu.js')
    script(type='text/javascript' src='#{STATIC_URL}js/concept_map.js')

    script(type='text/javascript').
        
        $(function() {

            $( "#cmlayout" ).selectmenu({
                change: function( event, data ) {
                    /* currentCMLayout assumed globally defined in concept_map.js */
                    currentCMLayout = data.item.value ;
                    var concept_map = $('#concept_map').cytoscape('get');
                    var layout = concept_map.makeLayout({ name: currentCMLayout });
                    layout.run();
                    concept_map.resize();
                }
            });

            $( "#cmtheme" ).selectmenu({
                change: function( event, data ) {
                    changeMapBkgd();
                    changeElesClr();
                }
            });

        });

    script(src="#{STATIC_URL}js/gbk_discovery.js")

    #welcomePrompt
        #text(align="center")
            p(align="center") Welcome to Knowledge.Bio Discovery Desktop, 
            p(align="center") an online resource to facilitate the 
            p(align="center") exploration of biomedical research knowledge.
            p(align="center") To begin your navigation of the site, 
            p(align="center") please kindly type in characters from a word 
            p(align="center") or two of your biomedical concept of interest,
            p(align="center") into this search box, then click "GO" to continue.
            p(align="center") For further instructions, click the "Help" link
            p(align="center") at the top right hand corner of the desktop or
            p(align="center") the "Contact Us" link to send a message to us.
        #welcomePromptbuttons(align="center")
            button( onclick="welcomePromptActions.gotIt()" ) Got it!
                                    
    script(type='text/javascript').
                               
        $( "#welcomePrompt" ).hide();
        
        /* Show Welcome Prompt once, then suppress 
           by marking visitor browser with a cookie */
        function welcomePrompt(){
        
            $( "#welcomePrompt" ).qtip({
                content:{
                    text:$("#welcomePrompt").html()
                },
                show:{
                    ready:true,
                    modal:true
                },
                position:{
                    target: $("#concept_search_string"),
                    corner: {
                       target: 'bottomRight',
                       tooltip: 'leftTop'
                    }
                },
                style: {
                    classes: 'qtip-green welcome-prompt'
                }
            });
        }
        
        var welcomePromptActions = {

            gotIt: function( ){
                    $("#welcomePrompt").qtip("destroy");
                    $("#concept_search_string").focus() ;
            },
        } ;
        /*
        function isSafari90() {
            var ua = navigator.userAgent.toLowerCase();
            var check = function(r) {
                return r.test(ua);
            };
            var safariVersionTest = check(/safari/) && check(/version\/9.0/);
            return safariVersionTest ;
        }
        */

        if( ! Cookies.get('recent_visitor') ) {
            /*
               Safari 9.0 bug was 'fixed' with GBK commit#4a1ffa7 c.a. October 20, 2015
                but we leave this code visible in case we need to do it again in the future, for another browser release 
            
            if( isSafari90() ) {
                alert("You seem to be running Safari 9.0. Sad to say but this Safari version doesn't work very well with Knowledge.Bio."+
                "We are investigating, but for now, we suggest that you use a non-Safari browser or an earlier Safari version (for now). You have been warned!") ;
            }
            */
            welcomePrompt() ;
            Cookies.set('recent_visitor', '1', { expires: 31 });
        } else {
            $("#concept_search_string").focus() ;
        }
