//-
    The MIT License (MIT)
    
    Copyright (c) 2015 Scripps Institute (USA) - Dr. Benjamin Good
                       Delphinai Corporation (Canada) / MedgenInformatics - Dr. Richard Bruskiewich
    
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
    
    The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.
    
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    THE SOFTWARE.
    
head
    meta(charset='utf-8')

    block head-title
        title Knowledge.Bio Semantic Type Filter

    block post-head
    
        script(type='text/javascript')
    
            // http://stackoverflow.com/questions/1960473/unique-values-in-an-array
            // http://stackoverflow.com/questions/13486479/how-to-get-an-array-of-unique-values-from-an-array-containing-duplicates-in-java?lq=1
            function onlyUnique(value, index, self) {
                return self.indexOf(value) === index;
            }
    
            var toggleFilter = function( filter ){
    
                // jquery.qubit already handles event propogation of checkboxes, so there's no need to propogate this function further ourselves.
                var checkbox = filter.getElementsByTagName('input')[0];
    
                // adjust the filter string of explicit_table_args.type_filter
                // diff against current filters.
    
                var newFilterSet = current_type_filter.split(",");
                
                if( checkbox.checked ){
                
                    console.log("Checked", filter.getAttribute('data-code') );
                    console.log(explicit_table_args.type_filter )
    
                    newFilterSet.push( filter.getAttribute('data-code') );
    
                } else if( !checkbox.checked && checkbox.checked != undefined ){
    
                    newFilterSet.splice( filter.getAttribute('data-code') );
    
                }
    
                current_type_filter = newFilterSet.filter( onlyUnique ).toString().slice(1);
    
            }
            
            $(function() {
                $('#filter_menu').jsonList({
                  url: semantic_type_url, 
                  type: 'groupedItems',
                  groups: 'types',
                  items: 'subtypes',
                  // onListItem: called for each list item created from the JSON
                  onListItem: function(event, listItem, data, isGroup) {
                    listItem.attr('data-code', data.code);
                    if (!isGroup) {
                      // set the id into a data value so that Bonsai createInputs
                      // can set the checkbox value
                      listItem.attr('data-value', data.id);
                      listItem.attr('onChange', 'toggleFilter( this )');
                    }
                    if( current_type_filter.search(data.code)>=0 ) {
                        /* preset checkbox? */
                    }
    
                  },
                  // success: called after the list is created
                  onSuccess: function(event, jsonList) {
                    console.log("Success!");
                    // turn the list into a tree
                    $(this.el).find('> ol').bonsai({
                        checkboxes: true,
                        createInputs: 'checkbox',
                        handleDuplicateCheckboxes: true,
                        expandAll: false,
                        addExpandAll: true, // add a link to expand all items
                        addSelectAll: true, // add a link to select all checkboxes
                    });
    
                  }
    
                });
    
              });

body
    block content
        .container-fluid
                .col-md-12
                    .row
                        h3 Select Semantic Type Filters:
                    .row
                        .col-md-1
                            input#semantic_filter_apply.btn.cmbutton(
                                    type='button'
                                    value='Apply'
                                )
                        .col-md-1.col-md-offset-1
                            input#semantic_filter_cancel.btn.cmbutton(
                                    type='button'
                                    value='Cancel'
                                )
                    .row
                        #filter_menu
    
        script(type='text/javascript')

            $( "#semantic_filter_apply" ).button().click(
                function( event ) {
                    /* alert("Applying the filter '"+current_type_filter+"'!") ; */
                    explicit_table_args.type_filter = current_type_filter ; 
                    explicit_table.ajax.reload() ;
                    $.colorbox.close() ;
                }
            );
            
            $( "#semantic_filter_cancel" ).button().click(
                function( event ) {
                    /* alert("Cancelling the filter spec operation!") ; */
                    $.colorbox.close() ;
                }
            );
