extends base

block content

    .container
        .row
            .jumbotron
                h1.text-center Test Data Retrieval

    .container
        .row
            .col-md-6.col-md-offset-4
                form.form-horizontal(action="/query/data" method="post")
                    .form-group
                        h3 Test Query
                        input(
                          type='text'
                          name='query'
                        )
                        input.btn.btn-default(
                          type='submit'
                          value='submit'
                        )
                        - csrf_token
                    .form-group
                        input(
                          checked
                          type='radio'
                          name='mode'
                          value='exptext'
                        )
                        label Explicit Concepts by Text Description
                        br/
                        input(
                          type='radio'
                          name='mode'
                          value='imptext'
                        )
                        label Implicit Concepts by Text Description
                        br/
                        input(
                          type='radio'
                          name='mode'
                          value='cui'
                        )
                        label Explicit Relations by Concept Identifier
                        br/
                        input(
                          type='radio'
                          name='mode'
                          value='implicit'
                        )
                        label Implicit Relations by Concept Identifier
                        br/
                        input(
                          type='radio'
                          name='mode'
                          value='pmid'
                        ) 
                        label Relations by PubMed ID
                    .form-group
                        label draw #
                        input(
                          type='text'
                          name='draw'
                        )
                        br/
                        label start
                        input(
                          type='text'
                          name='start'
                        )
                        label length
                        input(
                          type='text'
                          name='length'
                        )
                        br/
                        label search filter
                        input(
                          type='text'
                          name='search[value]'
                        )
                        br/
                        label order column (mode specific - set properly!)
                        input(
                          type='text'
                          name='order[0][column]'
                        )
                        label order direction ('asc' or 'desc' - set properly!)
                        input(
                          type='text'
                          name='order[0][dir]'
                        )
