extends base

block content

    .container
        .row
            h1.text-center Upload an Existing Knowledge.Bio Concept Map
    .container
        .row
            .col-md-6.col-md-offset-4
    .container
        .row
            .col-md-6.col-md-offset-4
                form.form-horizontal(action="/query/load" method="post")
                    .form-group
                        #upload_form
                        input.btn.btn-default(
                          type='submit'
                          value='submit'
                        )
                        - csrf_token

block post-footer
        
    script(type='text/javascript').
        $("#upload_form").html('{{form}}'); 
