/* these will expand to the total size assigned via bootstrap grid */
#implicit-result-div { width: 100%; height: 100%; padding: 0.5em; position: relative; };

#explicit-result-div { width: 100%; height: 100%; padding: 0.5em; position: relative; };

#concept-map { width: 100%; height: 100%; padding: 0.5em; float: left; margin: 10px 10px 10px 0; };

#drag-1 {width: 480; height: 720;  padding: 0.5em; float: left; margin: 10px 10px 10px 0; }

#drag-2 {width: 480; height: 720;  padding: 0.5em; float: left; margin: 10px 10px 10px 0; }

#drag-3 {width: 480; height: 720;  padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
