body {
    background-color :#7ABA7A ;
    font-size: 12px;
    font-family: 'Px Grotesk Light', helvetica neue, helvetica, arial, sans-serif;
}

h3 {
  font-family: 'Px Grotesk Light';
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 2px;
  color: #333;
}

h4 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 2px;
  color: teal;
}

.title {
    font-family:'Px Grotesk Light,"Palatino Linotype", Georgia, Serif;
    font-size: 200%;
    font-weight: bold;
    color: white;
    text-align:center;
    /*text-shadow: 2px solid ;*/
}


a { color:#3C763D; }
a:hover { color:#09430a; }
.navbar-brand { color:#fff !important; line-height:30px; text-transform:uppercase; font-weight:bold;}
.navbar-brand > span { color:#5cb85c; font-weight:bold;}
.navbar-header::after {clear:none;}
td[class="text-center"]{background:#f9f9f9;}
th{font-size:.9em;color:#666;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{font-weight:bold;}
.bootcards-list form input { padding-left:10px; }

.btn-success.disabled { background:#888 !important; border-color:#888; }

/*.green-button {
    color: #fff;
    background-color: #5cb85c !important;
    border-color: #4cae4c;
}

.white-button {
    color: #333;
    background-color: #fff !important;
    border-color: #d8d8d8;
}

.white-button .active {
    color: #333;
    background-color: #000;
    border-color: #f00;
}*/

.btn-default {
    background-color: #666 ;
    color: white ;
    border-color: #555555;
}

.btn-success {
    background-color: #666 ;
    color: white ;
    border-color: #555555;
}

.btn-success.active {
    color: white;
    background-color: #555555;
    border-color: #333333;
}

.btn-default:focus,
.btn-default:hover {
    color: #fff;
    background-color: #555555 !important;
    border-color: #333333;
}

.btn-success:focus,
.btn-success:hover {
    color: white;
    background-color: #555555;
    border-color: #333333;
}

/*#about_page {
    background-image: url('/static/images/sepiapterin.png') ;
    background-repeat: none;
    background-size: cover;
}*/

.white-canvas {
    background-color: white;
    padding: 5px;
}

#text_info_box {
    padding: 15px;
    position: relative;
    font-size: 150%;
    background-color : #dff0d8;
    font: 12px 'Px Grotesk Light', arial, sans-serif;
    color: #333;
    border-color: #333;
}

#img_box {
    position:relative;
    vertical-align: middle;
    border-color: #333;
}

.text-accent-on-dark {
    font-family: "Palatino Linotype", Georgia, Serif;
    display: inline;
    font: 18px ;
    font-weight: bold;
    color: #5cb85c;
}

.text-accent-on-light {
    font-family: "Palatino Linotype", Georgia, Serif;
    font: 16px ;
    font-weight: bold;
    color:#333;
}

.link-accent-on-light {
    display: inline;
    font: 18px ;
    font-weight: bold;
    text-decoration: underline;
    color: #5cb85c;
}

.sentence {
    width:80% ;
    font-weight: bold ;
    color: teal ;
}

.sentence:hover {
    cursor: pointer ;
}

.about-background {
    background-color: #7ABA7A;
}

.contact-background {
    background-color: #dff0d8;
}
/* =========================
        Header
========================= */

.header {
    font-family: "Georgia";
    font-style: bold;
    color: white;
    font-size: 12px;
    background-color:#333;
    border-color:#101010;
}

.welcome-prompt {
   font-family: "Georgia";
   font-style: bold;
   font-size: 12px;
   color: yellow;
}


.menu-text {
    font-family: Arial;
    font-size: 14px;
    color: #888;
}

#concept_search_string {
    border:0 ;
}

#concept_search_string:focus {
  background: #ffc;
}

/*=========================
        Result Tables
  =========================*/
#conceptTablesDisplay {
    min-width:1000px;
    width: auto !important;
    width: 1000px;
}

.desktop-table {
    padding:1px;
}

.data_table_subtitle {
    font-family: Arial;
    color: darkgreen;
}

#concept_details table {
    font-family: Arial;
    width: 100%;
    text-align: center;
    display: inline;
    border-color: darkgreen;
    border-style : ridge ;  
}

#concept_details tr th {
    border : 1;
    color: #FFF ;
    background-color: darkgreen;
    font-weight: bold ; 
}

#concept_details tr td {
    border : 1 ; 
    color: darkgreen;
    background-color: #FFF ;
}

.drag-relation:hover {
    cursor:grab;
}

/*==========================
  Concept Popups
  ==========================*/
#contextTable table {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
}

.query_highlight {
    color: red ;
    font-weight: bold ;
}

.ct_row {
}

.ct_tag {
    width: 20%;
    font-weight: bold;
}

.ct_value {
    width: 80%;
}

/*========================
  Discovery Page Concept Map
  =========================*/
#conceptMapDisplay {
    min-width:1000px;
    width:auto !important;
}

#concept_map {
  background-color: #333 ;
  border-radius: 5px
  width: 97%;
  height:  720px;
  position: center;
  border: 2px solid #FFF;
  /*left : -15px;
  top  : -3px;*/
}

.cmtoolbar {
    background-color: darkgreen ;
    padding: 10px ;
    position: relative;
    border: 2px solid #FFF;
    left : 0;
    top  : 0;
    width:97% ;
    height: 50px;
    font-size: x-small ;
    font-weight: bolder ; 
    white-space: nowrap;
}

#cmlayout-button,
#cmtheme-button  {
    color: white;
    background-color: #888 !important;
    border-color: #444;
    position: relative ;
    height: 25px ;
}

.drop_down_menu  {
    height:30 ;
}

#layout-menu-button {
    color: white;
    background-color: #888 !important;
    border-color: #444;
    height: 25px;
    font: 8px;
    font-family: Arial;
    text-align: top;
    width: 115px ;  
}

#semantic_filter {
    display:inline;
    position: relative;
    position: absolute;
    top: 30px;
    right: 225px;
    z-index: 100 ;
}

.cmfieldset {
  border: 0;
}

.cmlabel {
    display: inline;
    color : yellow;
}

.cmselect {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px ;
    color: yellow ;
}

#refresh_button {
    position:relative;
    text-align: center;
    top: -10px;
    left: 10px;
    color: yellow ;
}

/*.cmtext {
    width: 120px;
    /*font-size: x-small ;*/
    color: black ;
}*/

.cmbutton {
    
    text-align: center;
    border-width:1px;
    /*border-color:#FFF;*/
    padding: 4px;
    color: yellow ;
    background-color : #459e00;
    font-size: x-small ; 
    font-weight: bold ;
}

.cmheaderbutton {
    
    text-align: center;
    border-width:1px;
    color: yellow;
    background-color: #459e00;
    font-size: x-small ; 
    font-weight:bold;
    border-color: yellow;
}

/*==========================
  Semantic Type Filter
  =========================*/
.semantic_filter {
    float: left;
    display: inline-block;
    margin-right: 80%;
    margin-left: auto;
    margin-top: -8%;
    border: 5%, 1%, 90%, 5%;

}


ol.bonsai li label {
    color: darkgreen ;
    padding-left: 20px;
}

.expand-all, .check-all {
    text-align: left;
    border-width:5px;
    padding: 10px;
    color: darkgreen ;
    font-size: small ; 
    font-weight: bold ;
}

.expand-all i, .check-all i {
    padding: 10px;
}

/*==========================
  Discovery Page Data Tables
  =========================*/

/*#current_concept {
    width:75% ;
    margin-left: auto;
    margin-right: auto;
    text-align: center ;
    font-size: large ;
    font-weight: bold ;
    position: relative;
    top: 15px;
}*/


#current_concept_query {
    display:inline;
    width:75% ;
    font-family: Arial;
    color: #002000;
    text-align: center ;
    font-size: large ;
    font-weight: bold ;
    position: relative;
    top: 15px;
}

.concept_table_subtitle {
    position: relative;
    top:  30px ;
    left: 20px ;
    font-family: Arial;
    color: #008000;
    text-align: left ;
    font-size: medium ;
    font-weight: bold ;
}

#explicit_concept_result_div, 
#implicit_concept_result_div {
    position: relative;
    top: 50px ;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 40%;
    position: relative;
    left: 100;
    top: 0;
    font-size: 12px;
    font-family: Arial;
    border: 2px solid white;
}

/*#discovery_data_tabs {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 360px;
    position: relative;
    left: 100;
    top: 0;
    font-size: 12px;
    font-family: Arial;
    border: 2px solid white;
}*/

#citation_tabs {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 360px;
    position: relative;
    left: 100;
    top: 0;
    font-size: 12px;
    font-family: Arial; 
    border: 2px solid white;
}

#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}

.clickable {
    text-decoration: underline; 
    color : teal ;
    font-weight: bold ;
}

/*============================
  PMID Abstract/Relation Views
  ============================*/

#showAbstractInNewWindow {
    position:relative;
    text-align: center;
    top: -30px; 
    left: 240px;
}

.pmid_pane {
  width: 100%;
  height:  200px;
  position: relative;
  left: 10;
  top: 0;
}

.even.tophit,
.odd.tophit  {
    font-weight: bold ;
    color:red;
}
