.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
        .navbar-header
            a.navbar-brand(title = "Knowledge.Bio" href="/")
                img(
                    src="#{STATIC_URL}images/knowledge_bio.jpg"
                    width="40px"
                    height="30px"
                    style="align:left;display:inline;padding-right:10px;"
                )
                | Knowledge.
                span Bio
        .navbar-toggle(data-toggle="collapse" data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .navbar-collapse.collapse
            .nav.navbar-nav
                form.form-inline#concept_search(action="javascript:" role='form')
                    .form-group(style ="padding:15px 15px 0 0")
                        .input-group
                            input.form-control.input-sm#concept_search_string(
                              type='text'
                              placeholder='Search for...'
                              border-radius: '4px'
                            )
                            span.input-group-btn
                                button.btn.btn-default.btn-sm.green-button#concept_search_button(
                                    type='submit'
                                ) GO
                            - csrf_token
            .nav.navbar-nav(style ="padding:15px 15px 0 0")
                a.btn.btn-sm.btn-default.green-button(id="demoMap" onclick="window.location.href='/query/demo';") Demo Map
            
            ul.nav.navbar-nav.navbar-right
                li
                    a#about_page.menu-text.info-page(href="/about") About
                li
                    a#help_page.menu-text.iframe(href="https://docs.google.com/document/d/1TZCbYBE4QEW0gdgKqKb5u99xYivMPJR8Ug_TzYuMB_Q") Help
                li
                    a#contactus_page.menu-text(href="/contactus") Contact Us
  