extend base

append header
    link(rel='stylesheet', href='#{STATIC_URL}css/drag.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/jquery-ui.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/jquery-ui.structure.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/jquery-ui.theme.css')

block content
    .row
        .row
            .col-sm-5.col-sm-offset-1
                #drag-1(class="ui-widget-content")
                    p drag me to target
        .row
            .col-sm-5.col-sm-offset-1
                 #drag-2(class="ui-widget-content")
                    p drop here
        .row
            .col-sm-5.col-sm-offset-1
                 #drag-3(class="ui-widget-content")
                    p drop here
block post-footer
    script(type='text/javascript' src='#{STATIC_URL}js/drag-n-drop.js'))