extends desktop

block content
    .container
        .col-md-12.col-md-offset-0
            #concept_map

block post-footer

    script(type='text/javascript').
    
        var graphData =  $('<textarea/>').html('{{graphData}}').text(); 
        
        alert("Graph Data:\n"+graphData) ; 
        
        graphData = JSON.parse( graphData ) ;

        // Session Controls
        var sessionControls = {
            expandCount: '{{ UserExpandCount }}',
            weightCutoff: '{{ UserWeightCutoff }}',
            dataSource: '{{ UserDataSource }}'
        };

    script(type='text/javascript' src='#{STATIC_URL}js/concept_map.js')
